[Desktop Entry]
Type=Service
Exec=blubb
Comment=This plugin provides a frontend for Crossfire
Comment[cs]=Tento modul poskytuje rozhraní pro Crossfire
Comment[es]=Este complemento proporciona una interfaz para Crossfire
Comment[et]=Crossfire'i kasutajaliidese plugin
Comment[ga]=Soláthraíonn an breiseán seo comhéadan ar Crossfire
Comment[hu]=Ez a bővítmény egy előtétprogramot szolgáltat a Crossfire-höz
Comment[it]=Questa estensione fornisce un interfaccia per Crossfire
Comment[nl]=Deze plugin levert een frontend voor Crossfire
Comment[pt]=Este 'plugin' oferece uma interface para o Crossfire
Comment[pt_BR]=Este plugin oferece uma interface para o Crossfire
Comment[sk]=Tento plugin poskytuje rozhranie pre Crossfire
Comment[sv]=Insticksprogrammet tillhandahåller ett gränssnitt för Crossfire
Comment[uk]=Цей додаток є оболонкою до Crossfire
Comment[x-test]=xxThis plugin provides a frontend for Crossfirexx
Name=Crossfire Support
Name[cs]=Podpora Crossfire
Name[es]=Implementación de Crossfire
Name[et]=Crossfire'i toetus
Name[ga]=Tacaíocht Crossfire
Name[hu]=Crossfire támogatás
Name[it]=Supporto crossfire
Name[nl]=Ondersteuning van Crossfire
Name[pt]=Suporte para o Crossfire
Name[pt_BR]=Suporte ao Crossfire
Name[sk]=Podpora Crossfire
Name[sv]=Crossfire-stöd
Name[uk]=Підтримка Crossfire
Name[x-test]=xxCrossfire Supportxx
GenericName=Debugger Frontend
GenericName[cs]=Rozhraní pro ladicí nástroj
GenericName[es]=Interfaz del depurador
GenericName[et]=Siluri kasutajaliides
GenericName[ga]=Comhéadan Dífhabhtóra
GenericName[gl]=Interface para o depurador
GenericName[hu]=Hibakereső előtétprogram
GenericName[it]=Interfaccia al debugger
GenericName[nl]=Frontend voor debugger
GenericName[pt]=Interface do Depurador
GenericName[pt_BR]=Interface do depurador
GenericName[sk]=Rozhranie odlaďovača
GenericName[sv]=Avlusargränssnitt
GenericName[uk]=Клієнтська програма зневадника
GenericName[x-test]=xxDebugger Frontendxx

Icon=debugger
X-KDE-Library=kdevcrossfire
X-KDevelop-Category=Global
X-KDevelop-Version=15
X-KDE-PluginInfo-Name=kdevcrossfire
X-KDE-PluginInfo-License=GPL
ServiceTypes=KDevelop/Plugin
X-KDevelop-Interfaces=org.kdevelop.IRunProvider
X-KDevelop-Mode=GUI
